Unidecode
pandas
moviepy
matplotlib
scipy
numpy
umap_learn
imageio
opencv-python
sounddevice
librosa
noisereduce
num2words
tensorflow
kneed
tensorflow_datasets
tqdm
pydub
torch
python_speech_features
pytube3